:root {
    --dark-color: #333; 
    --gray-color: #e0e0e0;
    --padding: 20px; 
    --width-full: 100%; 
}

/* Estilo básico de la página */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo de la barra de navegación -------------------------------------------------------------------------------------------------------------*/
nav {
    background-color: #000000;
    color: #fff;
    padding: 12px;
    position: fixed;
    width: var(--width-full);
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .Logo h1 {
    font-size: 1.8rem;
    margin: 0;
}

nav .list-nav a {
    font-size: 1rem;
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px; 
}

nav .list-nav a:hover {
    color: #fbf5f5;
    background-color: #3f3f3f;
    border-radius: 5px;
    padding: 5px;
}

/* Estilo de las secciones */
section {
    padding: 60px 20px;
    margin-top: 60px;
}

/* Sección Inicio------------------------------------------------------------------------------------------------------------- */
#Inicio {
    /* background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(248, 248, 248, 0.8), rgba(224, 224, 224, 0.5));*/
    background-color: w;
    text-align: center;
    padding: 70px 20px;
    margin-top: 100px;
    min-height: 90vh;
}

#Inicio h1.main-title {
    font-size: 3rem;
    color: #000000;
    transition: color 0.4s ease, transform 0.3s ease;
}

#Inicio h1.main-title:hover {
    color: #636363;
    transform: scale(1.1);
}

#Inicio h2.main-title {
    font-size: 1.5rem;
    color: #000000;
    transition: color 0.3s ease, transform 0.3s ease;
}

#Inicio .image-container img.p111 {
    height: auto;
    max-width: 100%;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Sección ¿Quién Soy?------------------------------------------------------------------------------------------------------------- */
#QuienSoy {
    background: linear-gradient(to right, #7c7575, #070707);
    text-align: center;
    padding: 70px 20px;
    margin-top: 100px;
    min-height: 90vh;
}

#QuienSoy h1 {
    font-size: 3.5rem;
    color: #ffffff;
    transition: color 0.4s ease, transform 0.3s ease;
}

#QuienSoy p {
    padding: 20px;
    font-size: 1.25rem;
    color: #ffffff;
    font-weight: bold;
    text-align: justify;
    line-height: 1.6;
    margin: 20px 0;
}

/* Sección PasaTiempo -------------------------------------------------------------------------------------------------------------*/
#PasaTiempo {
    min-height: 90vh;
    padding: 70px 20px;
    font-size: 1.5rem;
    text-align: center;
}

.PasaTiempo-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 20px;
}

.pasaimg {
    aspect-ratio: 1;
    border: 2px solid #e0e0e0;
    border-radius: 10px;
    background-color: #4b4b4b;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

.pasaimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.pasaimg:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}

/* Sección Habilidades------------------------------------------------------------------------------------------------------------- */
#Habilidades {
    min-height: 90vh;
    padding: 80px 20px;
    text-align: center;
}
#Habilidades h1 {
    padding: auto;
    font-size: 50px;

}



.habilidades-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.habilidad {
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: #ffffff;
    border-radius: 8px;
    position: relative;
    padding: 20px;
}

.habilidad:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    background-color: #4c5dcc;
}

.habilidad img {
    width: 80%;
    height: auto;
    border-radius: 8px;
    object-fit: contain;
}

.habilidad h1 {
    font-size: 1.5rem;
    color: #333;
}

/* Sección Proyectos----------------------------------------------------------------------------------------------------------------- */
#Proyectos {
    min-height: 90vh;
    padding: 70px 20px;
    background: linear-gradient(to right, #7c7575, #070707);
}

#Proyectos h1 {
    padding: 0px;
    font-size: 3rem;
    color: #ffffff;
    text-align: center;
}

.proyectos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.proyecto {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#Proyectos .intro {
    font-size: 1.1rem;
    line-height: 1.6; 
    color: #ffffff;     
    font-style: italic; 
}
.proyecto:hover {
    transform: translateY(-40px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.proyecto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 15px;
}

.proyecto h2 {
    font-size: 1.25rem;
    color: #333;
    margin-bottom: 15px;
}

.proyecto p {
    font-size: 1rem;
    color: #777;
    margin-bottom: 20px;
}

.btn-proyecto {
    background: linear-gradient(to right, #7c7575, #070707);
    color: #fff;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-proyecto:hover {
    background-color: #0056b3;
}

/* ----------------------------------------------------------------------------Sección Contacto */
#Contacto {
    height: 10vh;
    padding: 200px 20px;
    text-align: center;
    border-radius: 8px;
}

#Contacto h1 {
    color: #000;
    margin-bottom: 20px;
 
}

#Contacto a {
    color: #148f2a;
    text-decoration: none;
}

#Contacto a:hover {
    text-decoration: underline;
}
